<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/style.css" />
    <title>Quiz</title>
  </head>
  <body>
    <div class="main">
      <div class="content1">
        <img src="/assets/sary1.gif" alt="home" />
      </div>

      <div class="content2">
        

        <a class="commencer" href="/qest1">Commencer!</a>
      </div>
    </div>
  </body>
</html>
