<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css" />
    <title>Quiz</title>
</head>
<body>
       <div class="quiz">
           <form method="post" action="/qest5">
            
            <div><img class="img2" src="/assets/sary2.gif" alt="sary" /></div>
        
        <h2>Qui est le fondateur d' Apple?</h2>  
        <input type="radio" id="option13" name="options" value="musk" />
        <label for="option13">Elon Musk</label> <br>
        
        <input type="radio" id="option14" name="options" value="jobs" />
        <label for="option14">Steve Jobs</label> <br>
        
        <input type="radio" id="option15" name="options" value="gates" />
        <label for="option15">Bill Gates</label> <br>
        

        <button class="btn">Envoyez</button>

           </form>
       </div>
</body>
</html>