<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/style.css" />
    <title>Quiz</title>
  </head>
  <body>
    <div class="quiz">
      <form method="post" action="/qest1">
        <div><img class="img2" src="/assets/sary2.gif" alt="sary" /></div>

        <h2>Qui est l'entraineur du Real Madrid?</h2>
        <input type="radio" id="option1" name="options" value="carlo" />
        <label for="option1">Carlo Ancelotti</label> <br>

        <input type="radio" id="option2" name="options" value="diego" />
        <label for="option2">Diego Simeone</label> <br>

        <input type="radio" id="option3" name="options" value="ronaldo" />
        <label for="option3">Cristiano Ronaldo</label> <br>
        
        <br />
        <button class="btn">Envoyez</button>
      </form>
    </div>

    <script src="/assets/app.js"></script>
  </body>
</html>
