<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css" />
    <title>Quiz</title>
</head>
<body>
       <div class="quiz">
           <form method="post" action="/qest4">
           
            <div><img class="img2" src="/assets/sary2.gif" alt="sary" /></div>
        
        <h2>Trouver l'intrus</h2>  
        <input type="radio" id="option10" name="options" value="svelte" />
        <label for="option10">Svelte</label> <br>
        
        <input type="radio" id="option11" name="options" value="jquery" />
        <label for="option11">Jquery</label> <br>
        
        <input type="radio" id="option12" name="options" value="symfony" />
        <label for="option12">Symfony</label> <br>
        

        <button class="btn">Envoyez</button>

           </form>
       </div>
</body>
</html>