<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css" />
    <title>Quiz</title>
</head>
<body>
       <div class="quiz">
           <form method="post" action="/qest3">
            <div><img class="img2" src="/assets/sary2.gif" alt="sary" /></div>
        
        <h2>Quel est la date de l'independance de Madagascar?</h2>  
        <input type="radio" id="option7" name="options" value="26" />
        <label for="option7">26 Juin 1960</label> <br>
        
        <input type="radio" id="option8" name="options" value="22" />
        <label for="option8">22 Octobre 1896</label> <br>
        
        <input type="radio" id="option9" name="options" value="29" />
        <label for="option9">29 Mars 1947</label> <br>
        

        <button class="btn">Envoyez</button>
           </form>
       </div>
</body>
</html>