<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/style.css" />
    <title>Quiz</title>
  </head>
  <body>
    <div class="quiz">
      <form method="post" action="/qest2">
        <div><img class="img2" src="/assets/sary2.gif" alt="sary" /></div>
        
        <h2>L'homme qui a marché sur la lune pour la première fois?</h2>  
        <input type="radio" id="option4" name="options" value="newton" />
        <label for="option4">Isak Newton</label> <br>
        
        <input type="radio" id="option5" name="options" value="neil" />
        <label for="option5">Neil Amstrong</label> <br>
        
        <input type="radio" id="option6" name="options" value="jean" />
        <label for="option6">Jean Luc</label> <br>
        

        <button class="btn">Envoyez</button>
      </form>
    </div>
  </body>
</html>
